@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url(//static-hp-wus-s-msn-com.akamaized.net/_h/7fed7cf6/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI.woff) format("woff"), url(//static-hp-wus-s-msn-com.akamaized.net/_h/5f222cb6/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI.ttf) format("truetype");
}

@font-face {
    font-family: "ps_g";
    font-style: normal;
    font-weight: normal;
    src: url(//static-hp-wus-s-msn-com.akamaized.net/sc/6b/7fe9d7.woff) format("woff"), url(//static-hp-wus-s-msn-com.akamaized.net/sc/e4/0a160f.ttf) format("truetype");
}